<div>Small Buttons</div>
<nd-button type="primary" size="sm">Primary</nd-button>
<nd-button type="success" size="sm">Success</nd-button>
<nd-button type="danger" size="sm">Danger</nd-button>
<nd-button type="warning" size="sm">Warning</nd-button>
<nd-button type="info" size="sm">Info</nd-button>
<nd-button type="link" size="sm">Link</nd-button>
<div>Medium Buttons</div>
<nd-button type="primary" size="md">Primary</nd-button>
<nd-button type="success" size="md">Success</nd-button>
<nd-button type="danger" size="md">Danger</nd-button>
<nd-button type="warning" size="md">Warning</nd-button>
<nd-button type="info" size="md">Info</nd-button>
<nd-button type="link" size="md">Link</nd-button>
<div>Large Buttons</div>
<nd-button type="primary" size="lg">Primary</nd-button>
<nd-button type="success" size="lg">Success</nd-button>
<nd-button type="danger" size="lg">Danger</nd-button>
<nd-button type="warning" size="lg">Warning</nd-button>
<nd-button type="info" size="lg">Info</nd-button>
<nd-button type="link" size="lg">Link</nd-button>
<div>Avatar</div>
<nd-avatar
  name="Stefan"
  avatarUrl="https://media-exp1.licdn.com/dms/image/C5603AQEdh0QjrNpWkA/profile-displayphoto-shrink_200_200/0?e=1608163200&v=beta&t=W4IWOY1Qbqfk4MLWlurI6zbGkA4sPXKe98oMLt99EmA"
></nd-avatar>
